body{
    background-color: rgb(19, 18, 18);
    color: aliceblue;
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    display: grid;
}
div.Display {
    text-align: center;
    border: wheat solid;
    width: 600px;
}
#Dis_up{
    display: flex;
    justify-content: center;
    margin: 0px;
    height: 50px;
    opacity: 70%;
}
#Dis_up_num {
    font-size: 20px;
    padding-right: 15px;
}
/* 
.calfun{
    border: solid red;
}
*/
#row_1{
    display: flex;
    justify-content: center;
    border: wheat solid;
    width: 600px;
}
#row_2{
    display: flex;
    justify-content: center;
    border: wheat solid;
    width: 600px;
}
#row_3{
    display: flex;
    justify-content: center;
    border: wheat solid;
    width: 600px;
}
#row_4{
    display: flex;
    justify-content: center;
    border: wheat solid;
    width: 600px;
}
button {
    font-size: 60px;
    background-color: beige;
    border-radius: 100%;
    padding: 15px;
    margin: 15px;
    width: 115px;
    height: 100px;
}